#loading{
	display: block;
	width: 100vw;
	height: 100vh;
	background: rgba(89, 91, 91, 0.9) url(images/cogload.png) center center no-repeat;
}

#wrapper {
    visibility: hidden;
    height: 100%;
    position: relative;
    z-index: 1;
}

#header{
    min-height: 100%;
    background: url(images/bgr.jpg) no-repeat center center fixed;
    background-size: cover;
}

#main {
    min-height: 100%;
}

#navbar {
    
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background-color: $orange;
}

#menu-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 100;
    cursor: pointer;
    span{
        font-size: 5rem;
    }
}

#close-icon {
    cursor: pointer;
}

#footer{
    background-color: #2f2f2f;
    padding: 1rem;
    color: $blue;
    font-family: $font;
    a {
        text-decoration: none;
        color: $blue;
        font-size: 2rem;
        &:hover {
            color: $orange;
        }
        span{
            float: right;
            margin-left: 1rem;
        }
    }
}