html{
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0 !important;
}

h1, h2, p {
    font-family: $font;
}

h2 {
    
}

a {
    &:hover{
        text-decoration: none;
        color: black;
    }
}

img {
    margin: 0 auto;
    display: block;
}

.hide {
    display: none;
}

.appear {
    display: block !important;
    
    @include m {
        animation: fadein 0.3s linear;   
    }
}

@keyframes fadein {
    from {left: -100px;}
    to {left: 10px;}
}

.center-parent{
    position: relative;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

.logo {
    line-height: 0.7;
}

.logo1{
    font-family: $font-logo1;
    color: $orange;
    font-size: (10rem/2);
    @inlude s {
        font-size: (15rem/2);
    }
    @include m {
        font-size: (20rem/2);
    }
    @include l {
        font-size: (25rem/2);
    }
}

.logo2{
    font-family: $font;
    color: $blue;
    font-size: 10rem;
    
    @inlude s {
        font-size: (15rem);
    }
    @include m {
        font-size: (20rem);
    }
    @include l {
        font-size: (25rem);
    }
}

.logo3{
    font-family: $font;
    color: $orange;
    font-size: (10rem/7);
    @inlude s {
        font-size: (15rem/7);
    }
    @include m {
        font-size: (20rem/7);
    }
    @include l {
        font-size: (25rem/7);
    }
}

.arrow-down {
    color: $orange;
    font-size: 10rem;
    cursor: pointer;
}

.links-item {
    display: inline-block;
}